@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* border: 1px  dashed black; */
  border-left: 2px solid skyblue;
  /* Clock wise space deni hai */
  padding: 4px 20px 8px 50px;
  /* Top-Bottom     Left-right  */
  padding: 8px 8px;
  box-shadow: 3px 3px 5px gray;
  width: fit-content;
  border-radius: 4px;
}
