body {
  background-image: url(https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  min-height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  width: 280px;
  height: 480px;
  border-radius: 30px;
  box-shadow: 0px 5px 30px black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px,-50px) ; */
}

.cardimg {
  height: 230px;
  /* width: 100%; */
  background-image: url(https://plus.unsplash.com/premium_photo-1673002094407-a72547fa791a?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2FuJTIwZnJhbmNpc2NvfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
}

.country{

}

.economy{
    
}
