body {
  background-color: #EAEFEF;
}
.fullpage{
 
}
.navbar-main {
    border: 1px solid black;
  margin: 1px;
  padding: 20px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.links a {
  color: black;
  margin: 0px 5px;
  text-decoration: none;
}

.flag {
  font-size: 14px;
    cursor: pointer;
}

.flag img {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.login button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

