.button1 {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 8px 8px;
  box-shadow: 0px 0px 5px gray;
  margin-left: 20px;
  margin-bottom: 20px;
}

.button1:hover {
  background-color: rgb(26, 239, 30);
}

.button2:focus {
  background-color: rgb(26, 239, 30);
  width: 100px;
}

.button3:active {
  background-color: aqua;
}
